################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TheInn.slnx
/TheInn.sln.DotSettings.user
/TheInn/bin/Debug/net10.0
/TheInn/obj
/TheInnTests/bin/Debug/net10.0
/TheInnTests/obj/Debug/net10.0
/.vs/ProjectEvaluation
